<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block extra_css %}{% endblock %}
    <title>Document</title>
</head>
<body>
    <!-- <h1>ok</h1> -->
    <!-- First Navbar -->
     <!-- <h1>hiii heyaa</h1> -->
    <nav class="main-navbar">
        <div class="logo">MyShop</div>

        <!-- my searchbar here -->
        <div class="searchbar">
            <form action="{% url 'search_results' %}" method="get">
                <input type="text" name="q" placeholder="Search products..." required>
                <button type="submit">Search</button>
            </form>
        </div>
`
        <div class="nav-links">
            <a href="{% url 'scrapedsites' %}">scrapingsites</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    </nav>
    
    <!-- Second Navbar (Selection Panel) -->
    <div class="selection-panel">
        <div><a href="">Mobiles</a></div>
        <div><a href="">Laptops</a></div>
        <!-- i want this dropdown -->
        <div><a href="">Clothes</a></div>
        <!-- i want this dropdown -->
        <div><a href="#">Accessories</a></div> 
        <!-- i want this dropdown -->
        <div><a href="#">Electronics</a></div>
        <!-- i want this dropdown -->
        <div><a href="#"></a></div>
    </div>





    {% comment %} main thing here... {% endcomment %}
    {% block content %}{% endblock %}




    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 MyShop. All Rights Reserved.</p>
    </footer>

</body>
</html>